<div class="tweet">
	<div class="inner-tweet">
		<div class="tweet-image">
			<img class="avatar" src="<%= srcurl %>"></img>
		</div>
		<div>
			<span><strong><%= propername %></strong></span>
			<span class="muted"><%= username %></span>
			<span class="muted timesince"><%= timesince %></span>
		</div>
		<p><%= text %></p>
		<div class="muted"><%= created =></div>
	</div>
</div>
